<div class="container">
    <div class="prohibited-box">
        <div class="box-title">
            <h1>Angular list of prohibited words</h1>
        </div>
        <div class="box-content1">
            <div class="box-img1"></div>
        </div>
        <div class="box-button">
            <button [routerLink]="[ '/works/prohibitedWords' ]" routerLinkActive="active" class="btnDetalis">detalis</button>
        </div>
    </div>
    <div class="task-box">
        <div class="box-title">
            <h1>Angular task list</h1>
        </div>
        <div class="box-content2">
            <div class="box-img2"></div>
        </div>
        <div class="box-button">
            <button [routerLink]="[ '/works/usersList' ]" routerLinkActive="active" class="btnDetalis">detalis</button>
        </div>
    </div>
    <div class="users-box">
        <div class="box-title">
            <h1>Angular users list</h1>
        </div>
        <div class="box-content3">
            <div class="box-img3"></div>
        </div>
        <div class="box-button">
            <button [routerLink]="[ '/works/taskList' ]" routerLinkActive="active" class="btnDetalis">detalis</button>
        </div>
    </div>
</div>